/*register appoinments*/
.pa-lob{
    height:800px !important;
}
.pa-box{
    height: 730px;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.914);
    border: none;
    border-radius: 15px;
    box-shadow: 10px rgb(0, 0, 0);
}
.doa{
        margin-left: 70px;
    width: 350px;
    height: 45px;
    border:solid rgba(186, 221, 255, 0.705);
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0, 2px, 2px, 4px, rgb(49, 51, 52);
    color: rgb(75, 81, 87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding-left: 10px;
}
.lista{
     margin-left: 70px;
    border:solid rgba(186, 221, 255, 0.705);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(75, 81, 87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding-left: 10px;
}
.pa-btn{
     width: 300px;
    margin-top: 5px;
    margin-left: 290px !important;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-image:linear-gradient(to bottom right, #2e3192, #1bffff) ;
    box-shadow:10px,black;
    color: white;
    font-size: .9rem;
    
}
.pa-lin{
    margin-top: 10px;
    margin-left: 250px;
    width: 360px;
    height: 1px;
    background-color: #0892d0;
}
.pa-box h1{
    color: rgb(41, 100, 146) !important;
    font-weight: 100 !important;
    text-align: center;
    padding-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}
.ra p{
    color: rgb(41, 100, 146);
    
}
.ex h1{
    font-size: .9rem !important;
    text-align: center !important;
    font-weight: bold !important;
}
/*view my appoinments*/
 th{
    color: rgb(41, 100, 146) !important;
    font-weight: 900 !important;
}
td{
    color: rgb(41, 100, 146) !important;
}
.pa-boxv{
    height: 730px;
    width: 1250px;
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 15px;
    box-shadow: 10px rgb(0, 0, 0);
}
.pa-boxv h1{
    color: rgb(41, 100, 146) !important;
    font-weight: 100 !important;
    text-align: center;
    padding-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}
.nn{
    border:solid #0892d0 !important;
    border-radius: 10px !important;
    height: 30px;
    width: 200px;
    margin-left: 50px;
}

.btn-a{
     width: 80px;
    border-radius: 5px;
    border: none;
    background-image:linear-gradient(to bottom right, #2e3192, #1bffff) ;
    color: white;
    
}
